{% extends "layout/base_generic.html" %}
{% block title %}Lista iscrizioni{% endblock %}
{% block content %}

<h3>Iscrizioni dei tuoi bambini</h3>
<div class="mb-3 mt-3">

    {% for iscrizione in object_list %}

    <div class="card mb-4">
        <h4 class="card-header d-flex  ">
            <div>
                {{iscrizione.nome}} {{iscrizione.cognome}}
            </div>
            <div class="me-3 ms-auto">
                <a href="{{ iscrizione.id }}">
                    <i class="fas fa-edit fa-lg"></i>
                </a>
            </div>
            <div>
                <a href="{% url 'iscrizioni_delete' pk=iscrizione.id %}" class="hover-link">
                    <i class="fas fa-times fa-lg"></i>
                </a>
            </div>
        </h4>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Codice Fiscale: {{iscrizione.codice_fiscale}}</li>
            </ul>
        </div>
    </div>
    {% endfor %}

</div>
<a href="{% url 'iscrizioni_create' %}" class="btn btn-primary"> Aggiungi un Iscrizione</a>
</div>
{% endblock %}