{% extends "layout/base_generic.html" %}
{% block title %}Lista bambini{% endblock %}
{% block content %}

<h3>I tuoi Bambini</h3>
<div class="mb-3 mt-3">

    {% for bambino in object_list %}

    <div class="card mb-4">
        <h4 class="card-header d-flex ">
            <div class="me-auto">
                {{bambino.nome}} {{bambino.cognome}}
            </div>
            <div>
                <a href="{{ bambino.id }}">
                    <i class="fas fa-edit fa-lg"></i>
                </a>
            </div>
            <div>
                <a href="{% url 'bambini_delete' pk=bambino.id %}" class="hover-link">
                    <i class="fas fa-times fa-lg"></i>
                </a>
            </div>
        </h4>
        <div class="card-body">
            <div class="d-flex" style="max-height:30vh">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Codice Fiscale: {{bambino.codice_fiscale}}</li>
                </ul>
                {% if bambino.immagine %}
                <img src="{{bambino.immagine.url}}" class="ms-auto" style="max-width:100px;">
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>
<a href="{% url 'bambini_create' %}" class="btn btn-primary"> Aggiungi un Bambino</a>
</div>
{% endblock %}